nav {
  width: 100%;
  height: 70px;
  background-color: rgb(174, 182, 221);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
ul{
  display: flex;
  color: white;
  text-decoration: none;
}
p{

  margin-left: 50px;
}
ul li {
  margin-right: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color:rgb(11, 11, 11);
   margin-left: 20px;
  font-size: 25px;
 /* border:solid 2px red; */
}
form{
  width:80%;
  /* background-color: aqua; */
}
input{
  width:90%;
}
